.btn {
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  transition: 0.2s ease-in-out;
  padding: 5px 27px;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 30px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  align-self: self-start;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

  &--gray {
    background: #fff;
    color: #64b5f6;
    &:hover {
      background: #64b5f6;
      color: #fff;
      border-color: transparent;
    }
  }
  &--blue {
    color: #fff;
    background: #64b5f6;
    &:hover {
      color: #64b5f6;
      background: #fff;
      border-color: #e5e5e5;
    }
  }
  &--small {
    padding: 3px 15px;
  }
  &--icon {
    display: flex;
    align-items: center;
    &:hover {
      svg {
        fill: #fff;
      }
    }
    svg {
      width: 15px;
      margin-right: 7px;
      fill: $primaryColor;
      opacity: 1;
    }
  }
}
