.form {
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: $darkGray;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 0 5px;
    margin: 0 0 10px;
  }
  &__group {
    margin: 0 0 10px;
  }
  &__label {
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    color: $darkGray;
  }
  &__input {
    display: block;
    width: 100%;
    line-height: 25px;
    font-size: 14px;
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    padding: 5px;
    &:focus {
      outline-color: $primaryColor;
      outline-width: 2px;
    }
  }
  &__textarea {
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Roboto';
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
    &:focus {
      outline-color: #64b5f6;
      outline-width: 2px;
    }
    &--title {
      height: 80px;
      max-height: 80px;
      min-height: 80px;
    }
    &--description {
      height: 220px;
      max-height: 220px;
      min-height: 220px;
    }
  }
}
