.login {
  max-width: 350px;
  position: absolute;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 4px;
}
.register {
  max-width: 350px;
  position: absolute;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 4px;
}
